<div *ngIf="( isNewForm | async); then newForm else submittedForm"></div>
<ng-template #newForm>
  <mat-card class="register-card">
    <mat-card-title class="card-title">CREATE PASSWORD</mat-card-title>
    <hr class="dialog-title-hr">
    <mat-card-content style="margin-top: 20px;">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <table class="card-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="card-full-width">
                <input matInput placeholder="Password" formControlName="password" name="password" type="password"
                  required>
                <mat-error *ngIf="isFieldInvalid('password')">
                  Password should contain minimum 8 characters
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="card-full-width">
                <input matInput placeholder="Confirm Password" formControlName="confirmPassword" name="confirmPassword"
                  type="password" required>
                <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                  Confirm Password should contain minimum 8 characters
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-card-actions align="end">
          <button [disabled]="!form.valid" mat-raised-button color="accent" type="submit">SUBMIT</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #submittedForm>
  <mat-card class="formSubmitted">
    <mat-card-content>
      <mat-icon>check_circle_outline</mat-icon>
      <div>You have been registered successfully. Please login to your account.</div>
    </mat-card-content>
  </mat-card>
</ng-template>