<mat-card class="create-notice-card">
  <br>
  <mat-card-title class="card-title"> Create Notice</mat-card-title>
  <hr class="dialog-title-hr">
  <mat-card-content style="margin-top: 5px;">
    <br>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <input type="hidden" name="id" formControlName="id">

      <div fxLayout="row">
        <mat-form-field class="card-full-width" fxFlex="45%">
          <mat-select placeholder="Category" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
          <mat-error> Please select category. </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field class="card-full-width" fxFlex="100%">
          <textarea matInput placeholder="Write Notice" formControlName="notice"></textarea>
          <mat-error *ngIf="isFieldInvalid('notice')">
            Please write notice.
          </mat-error>
        </mat-form-field>
      </div>

      <button [disabled]="!form.valid" mat-raised-button color="accent" type="submit">Post</button>
    </form>
  </mat-card-content>
</mat-card>