<div class="table-layout">
  <div *ngIf="(isAdmin)">
    <button mat-raised-button color="primary" type="submit" (click)="onNewNotice()">New Notice</button>
  </div>

  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div *ngFor="let notice of notices">
    <br>
    <mat-card>
      <div class="notice" style="font-size: 13px;">{{ notice.category }} </div> <br>
      <div class="notice" style="font-size: 12px;">{{ notice.notice }} </div><br>
      <div class="notice" style="font-size: 13px;">{{ notice.createdDate }} </div>
    </mat-card>
  </div>
</div>