<mat-card class="reset-pass-card">
    <mat-card-title class="card-title">RESET PASSWORD</mat-card-title>
    <hr class="dialog-title-hr">
    <mat-card-content style="margin-top: 20px;">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <table class="card-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="card-full-width">
                <input matInput placeholder="Registration Number" formControlName="regNo" name="regNo" required>
                <mat-error *ngIf="isFieldInvalid('regNo')">
                  Please enter registration number
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="card-full-width">
                <input matInput placeholder="Email" formControlName="email" name="email" required>
                <mat-error *ngIf="isFieldInvalid('email')">
                  Please enter email
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-card-actions align="end">
          <button [disabled]="!form.valid" mat-raised-button color="accent" type="submit">SUBMIT</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>